{% extends "base.html" %}

{% block title %}Создание нового курса{% endblock %}

{% block content %}
    <h1>Создание нового курса в категории {{category_name}}</h1>
    <form method="post">
        <label>Название курса: <input type="text" name="name" placeholder="Название"></label><br>
        Тип курса: <label><input type="radio" name="type" value="online" checked> Онлайн</label>
        <label><input type="radio" name="type" value="offline"> Оффлайн</label><br>
        <label>Место проведения: <input type="text" name="place" placeholder="Место"></label><br>
        <button type="submit">Создать курс</button>
    </form>
{% endblock %}
